.section--primary
  .container
    %h1
      %span= title("Committee members - #{@group.formal_body_name}")

%section#content{ tabindex: "0" }
  .container
    -# First list chairs
    - @formal_body_chair_members.each do |member|
      = render partial: 'groups/memberships/member', locals: { member: member, committee_role_title: 'Committee chair' }

    -# Then non chair members in name order
    - @non_chair_members.each do |member|
      = render partial: 'groups/memberships/member', locals: { member: member, committee_role_title: nil }
